body{
    padding: 0;
    margin: 0;
    display: grid;
}

a{
    text-decoration: none;
}

.logo{
    padding: 10px;
    margin-left: 16%;
}

.header{
    padding: 10px;
    padding-bottom: 25px;
    margin-left: 10%;
    width: 75%;
    height: 25%;
    background: color;
}

.buttons{
    background: black;
    width: 950px;
    height: 30px;
    margin-left: 12.5%;
    padding: 5px;
    padding-left: 25px;
    padding-top: 12.5px;
    position: absolute;
}

.button{
    color: white;
    font-weight: bold;
}

.headerLogo{
    width: 100%;
    height: 100%;
}

.text{
    background: yellow;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    margin-bottom: 25px;
}

.textTitle{
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
    margin-left: 475px;
}

.textText{
    font-weight: bold;
    margin-left: 20px;
}

.textP{
    margin: 0;
    padding: 25px 0;
}

.textButtonText{
    margin-left: 390px;
    border: 1px solid white;
    background: white;
    padding: 5px 25px;
}

.textButtonText:hover{
    background: black;
    color: white;
}

.footerLogo{
    width: 100%;
    height: 100%;
}

.images{
    padding: 25px;
}

.bannerButton1{
    margin-left: 275px;
}

.bannerButton2{
    margin: 0 10px;
}

.bannerButton3{
    margin-right: 275px;
}

.bannerImg1{
    background: url("../img/banner-1.jpg") no-repeat;
}

.bannerImg2{
    background: url("../img/banner-2.jpg") no-repeat;
}

.bannerImg3{
    background: url("../img/banner-3.jpg") no-repeat;
}

.bannerImg1, .bannerImg2, .bannerImg3{
    max-width: 300px;
    max-height: 220px;
}

.bannerImg1:hover .bannerText1{
    opacity: .6;
    color: white;
}

.bannerImg2:hover .bannerText2{
    opacity: .6;
    color: white;
}   

.bannerImg3:hover .bannerText3{
    opacity: .6;
    color: white;
}

.bannerText1, .bannerText2, .bannerText3{
    max-width: 100%;
    max-height: 100%;
    background: black;
    opacity: 0;
    text-align:center;
    padding: 101px 110px;
}